{% extends "richie/web_analytics.html" %}
{% load static %}
{% block web_analytics %}
    <script type="text/javascript">
        window.__atkans_context__ = { privacy: JSON.parse('{{ PRIVACY_CONTEXT|safe }}') };
    </script>

    {% if WEB_ANALYTICS_ID and current_page.publisher_is_draft is not True %}
        <script type="text/javascript">
            window.__atkans_context__['analytics'] = {
                "id": "{{ WEB_ANALYTICS_ID|safe }}",
                "provider": "{{ WEB_ANALYTICS_PROVIDER|safe }}",
                "dimensions": {
                    "root_page_id": "{{current_page.node.get_root.pk|safe}}",
                    {% for dimension_key, dimension_value_list in WEB_ANALYTICS_DIMENSIONS.items %}
                        "{{dimension_key}}": "{{dimension_value_list|join:" | "|safe}}",
                    {% endfor %}
                },
            };
        </script>

        {% if WEB_ANALYTICS_PROVIDER == "google_analytics" %}
            <!-- Setup GTM -->
            <script>
                tarteaucitron.user.gtagUa = window.__atkans_context__.analytics.id;
                tarteaucitron.user.gtagMore = function () {
                    var obj = {};
                    dimensions = window.__atkans_context__.analytics.dimensions;
                    Object.keys(dimensions).forEach(function (key, index) {
                        gtag('set', { ['dimension' + index]: dimensions[key] });
                    });
                };
                tarteaucitron.job.push('gtag');
            </script>
        {% endif %}
        
    {% endif %}
{% endblock web_analytics %}
